{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<form action="/request/get_name" method="post">
  {% csrf_token %}

  <address>
    <p>
      {{ form.your_name }}<br />
      {{ form.address }}<br />
      {{ form.date }}
    </p>
    <p>{{ date }}</p>
  </address>

  <p>Dear Sir or Madam,</p>

  <p>RE: Subject access request</p>

  <p>Please supply the information about me I am entitled to under the Data Protection Act 1998 relating to:</p>

  <ul>
  {% for deet in form.details %}
    <li><input type="checkbox" name="{{ deet }}" /> {{ deet.label }}</li>
  {% endfor %}
  </ul>

  <p>If you need any more information from me, or a fee, please let me know as soon as possible.</p>

  <p>It may be helpful for you to know that a request for information under the Data Protection Act 1998 should be responded to within 40 days.</p>

  <p>If you do not normally deal with these requests, please pass this letter to your Data Protection Officer. If you need advice on dealing with this request, the Information Commissioner’s Office can assist you and can be contacted on 0303 123 1113 or at www.ico.org.uk</p>

  <p>Yours faithfully,</p>
  <p>[Signature]</p>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
